/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.complished-item {
  /* text-decoration:line-through;
  text-decoration-color: green; */
  color: green;
  font-weight: bold;
}

.completion {
  color: green;
  font-weight: bold;
}

.modal-component {
  position: relative;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  width: 300px;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  height: 50px;
  /* inset: 320px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}